name: build
on: [ push, pull_request ]

jobs:
  golangci:
    name: lint
    runs-on: ${{ matrix.os }}
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'wavesplatform/gowaves'
    strategy:
      matrix:
        go-version: [ 1.18.x ]
        os: [ macos-latest, windows-latest, ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest
          args: --skip-dirs pkg/crypto/internal/groth16/bn256/utils/bn254 --timeout 10m

  build:
    name: ubuntu
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'wavesplatform/gowaves'

    steps:
      - uses: actions/checkout@v3
      - name: Set up Go 1.18
        uses: actions/setup-go@v3.3.0
        with:
          go-version: 1.18
          check-latest: true
          cache: true
        id: go

      - name: Set up GolangCI-Lint
        run: curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $HOME/bin v1.46.0

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Get dependencies
        run: go mod vendor

      - name: Build
        run: export PATH="$HOME/bin:$PATH"; make ci

      - name: Test with race detector
        run: make gotest-coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: github.repository == 'wavesplatform/gowaves' # disable for forks
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.txt
          flags: unittests
          yml: ./codecov.yml

  itest:
    name: integration_tests
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'wavesplatform/gowaves'

    steps:
      - uses: actions/checkout@v3
      - name: Set up Go 1.18
        uses: actions/setup-go@v3.3.0
        with:
          go-version: 1.18
          check-latest: true
          cache: true
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Get dependencies
        run: go mod vendor

      - name: Tests
        run: make itest-ci

      - name: Upload itest logs
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: itest_logs
          path: build/logs/
          if-no-files-found: warn
          retention-days: 5

