name: build
on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      smoke_tests:
        required: false
        type: boolean
        description: 'Run smoke tests'
        default: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' && github.event_name != 'workflow_dispatch' }}

permissions: { }

jobs:
  golangci:
    name: lint
    runs-on: ${{ matrix.os }}
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'wavesplatform/gowaves'
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]

    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Go 1.24
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: 1.24.x
          check-latest: true
          cache: false # don't save & restore build caches because golangci-lint action does it internally

      - name: Get dependencies
        run: go mod vendor
      - name: golangci-lint-soft
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
        with:
          version: latest
          args: -c .golangci.yml
      # Strict linter configuration, only checking new code from pull requests.
      - name: golangci-lint-strict
        run: golangci-lint run -c .golangci-strict.yml --new-from-rev=origin/master
      # Check for modern Go code patterns
      - name: modernize check
        run: go run golang.org/x/tools/gopls/internal/analysis/modernize/cmd/modernize@latest ./...

  build:
    name: ubuntu
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'wavesplatform/gowaves'

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Go 1.24
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: 1.24.x
          check-latest: true
          cache: true

      - name: Set up GolangCI-Lint
        run: curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $HOME/bin latest

      - name: Get dependencies
        run: go mod vendor

      - name: Build and test with race detector
        run: export PATH="$HOME/bin:$PATH"; make ci

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        if: github.repository == 'wavesplatform/gowaves' # disable for forks
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.txt
          flags: unittests
          yml: ./codecov.yml

  smoke:
    name: smoke_tests
    if: ${{ (github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch' && github.event.inputs.smoke_tests) &&
      github.repository == 'wavesplatform/gowaves'}}
    uses: "./.github/workflows/run_itests.yml"
    with:
      itest-type: 'smoke'
