name: "RunITests"
on:
  workflow_call:
    inputs:
      itest-type:
        required: true
        type: string
        description: "Integration tests type ('itest', 'itest-race', 'smoke')"
      environment:
        required: false
        type: string
        description: "Environment name for the job ('ITests' for manual approval or '' for no environment)"

permissions: { }

jobs:
  check-inputs:
    name: check-inputs
    runs-on: ubuntu-latest
    env:
      ITEST_TYPE: "${{ inputs.itest-type }}"
      ENVIRONMENT: "${{ inputs.environment }}"
    steps:
      - name: Check inputs
        run: |
          echo "${ITEST_TYPE}" | grep -E '^(itest|itest-race|smoke)$' || exit 1 # check if the itest type is valid
          echo "${ENVIRONMENT}" | grep -E '^(^$|ITests)$' || exit 1 # check if the environment is valid
        env:
          ITEST_TYPE: ${{ env.ITEST_TYPE }}
          ENVIRONMENT: ${{ env.ENVIRONMENT }}

  run-itest:
    name: run_integration_tests
    needs: [ check-inputs ]
    runs-on: ubuntu-latest
    environment:
      name: "${{ inputs.environment }}" # use the environment name from the input
    if: (github.repository == 'wavesplatform/gowaves')
    env:
      MAKEFILE_TARGET: "${{ inputs.itest-type }}" # type of integration test equal to the makefile target

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Set up Go 1.24
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: 1.24.x
          check-latest: true
          cache: true
        id: go

      - name: Get dependencies
        run: go mod vendor

      - name: Tests
        run: make ${MAKEFILE_TARGET} # run the integration tests
        env:
          MAKEFILE_TARGET: ${{ env.MAKEFILE_TARGET }}

      - name: Upload itest logs and configs
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: failure()
        with:
          name: itest_logs_and_configs
          path: |
            build/logs/
            build/config/
          if-no-files-found: warn
          retention-days: 5
